<div class="player">
    <img src="./../../assets/img/profile/1.webp" alt="">
    <span>Name</span>

 <!--   <div class="player-container">
        <app-player
        *ngFor="let player of game.players"
        [player]="player"
        ></app-player>
    </div>
    
    <div class="game-controls">
        <button (click)="newGame()">New Game</button>
        <button (click)="takeCard()">Take Card</button>
    </div>
    
    <div class="current-card" [class.animate]="pickCardAnimation" (animationend)="pickCardAnimation = false">
        <span *ngIf="currentCard">{{ currentCard }}</span>
    </div>
-->

</div>
