<!-- Damit werden soviele Spieler erzeugt, wie im entsprechenden Array angelegt sind. Diese werden dann entsprechend versetzt nach unten angezeigt -->
<app-player *ngFor="let player of game.players; let i = index;" [ngStyle]="{'top.px': 100 + (i * 90)}" [playerActive]="i == game.currentPlayer" [name]="player"
    class="player-position"></app-player>

<div class="field">

    <div class="card-stack">

        <!-- ########### Zwischenschritt ############# -->
        <!--    <img *ngFor="let c of [0, 1, 2, 3]; let i = index;" [ngStyle]="{'right.px': i * 5}"
                    src="./../../assets/img/cards/card_cover.png" alt=""> -->
        <!-- für das Startbild nach drücken des Start-Buttons zu erzeugen. 
            Ist wie eine for Schleife, damit wird das img 4x erzeugt (nur in Angular), werden quasi leicht versetzt übereinander gelegt. -->

        <!-- <img (click)="takeCard()" [class.pick-card]="pickCardAnimation" class="top-card" style="right: 25px"
            src="./../../assets/img/cards/card_cover.png" alt=""> -->
        <!-- damit die oberste Karte auf dem Stapel anders animiert wird, ist eine 5. Karte, die erzeugt wird.-->
        <!-- ########### Ende Zwischenschritt ############# -->

        <!-- Card stack -->
        <img *ngFor="let c of [0, 1, 2, 3]; let i = index;" [ngStyle]="{'right.px': i * 5}"
            src="./../../assets/img/cards/card_cover.png" alt="">
        <img (click)="takeCard()" class="top-card" style="right: 25px" src="./../../assets/img/cards/card_cover.png"
            alt="">

        <!-- Haufen von gezogenen Karten / Stack for played Cards -->
        <img *ngFor="let card of game.playedCards" class="played-card" src="./../../assets/img/cards/{{ card }}.png"
            alt="">

        <!-- Current card (Animation) -->
        <img (click)="takeCard()" *ngIf="pickCardAnimation" class="pick-card" style="right: 25px"
            src="./../../assets/img/cards/{{ currentCard }}.png" alt="">
        <!-- anhand der Variablen "currentCard" wird hier die Karte angezeigt, die als letztes aus dem stack genommen wurde -->

    </div>

</div>

<app-game-info [card]="currentCard || '' " class="pin-bottom"></app-game-info>

<!-- Button zum Spieler hinzufügen -->
<button matFab (click)="openDialog()" class="btn-add" aria-label="Example icon button with a delete icon">
    <mat-icon>add</mat-icon>
</button>

