.field {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-image: url('./../../assets/img/board.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack {
    position: relative;

    img {
        position: absolute;
        width: 120px;
    }
}

.top-card {
    // animation für die oberste Karte auf dem Startbild Kartenstapel
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.1) translateY(-20px); // vergrößert sich etwas und bewegt sich etwas nach oben
    }
}

.played-card {
    right: 25px;
    transform: scale(1.3) translateX(120px) translateY(-180px) rotate(-10deg);
}

.pick-card {
    // animation, das die oberste Karte weiter vergrößert wird, wen man auf die Karte drauf clickt.
    // transition: all 125ms ease-in-out; // war als Zwischenschritt eingebaut
    // transform: scale(1.7) !important; // !important notwendig, da sonst der hover bevorzugt wird // war als Zwischenschritt eingebaut

    animation: pick-card-animation 1s ease-in-out; // ruft die entsprechende @keyframes Funktion auf.
    transform: scale(1.3) translateX(120px) translateY(-180px) rotate(-10deg); // damit die Karte nach der Animation dort liegen bleibt. Ist gleich mit der 100%.
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1); // kein !important in einer @keyframes Funktion einbauen
    }

    40% {
        transform: scale(1.7);
    }

    60% {
        transform: scale(1.7);
    }

    100% {
        transform: scale(1.3) translateX(120px) translateY(-180px) rotate(-10deg);
    }
}