.field {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-image: url('./../../assets/img/board.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack {
    position: relative;

    img {
        position: absolute;
        width: 120px;
    }
}